<div class="row">
  <div class="columns small-12">

    <h1><%= @project.title %> tasks</h1>

      

      <ul class="small-block-grid-3">
        <% @tasks.each do |task| %>
          <li>
            <div class="panel">
              <p><%= task.title %></p>
              <p><%= task.notes %></p>  
            </div>
          </li>
        <% end %>
      </ul>

    

  </div>
</div>
