
<div class="row">
  <div class="columns small-12">
    

    <p id="notice"><%= notice %></p>

    <h2><%= @project.title %></h2>
    <p><%= @project.blurb %></p>

  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <h4><%= pluralize @project.tasks.count, "task" %></h4> 
  </div>
</div>
    

